<div nz-col nzSpan="24" style='text-align: center'>&nbsp;</div>
<div nz-col nzSpan="24" style='text-align: center'>&nbsp;</div>
<div nz-row >
    <div nz-col nzSpan="12" style='text-align: center;' class="container">
   
    <img src='assets/img/Captain_Milk.jpg' style='width:75%'>
    </div>
    <div nz-col nzSpan="12" style='text-align: center;' class="container" > 
    
 
      <button nz-button nzType="primary" style='width:60%'  nzShape="round" (click)="toUser(0)"><b>Caption</b></button>  <br/><br/><br/>
      <button nz-button nzType="primary" style='width:60%'  nzShape="round" (click)="toUser(1)"><b>Customer</b></button>
      <br/><br/><br/>
      <button nz-button nzType="primary" style='width:60%'  nzShape="round" (click)="toUser(2)"><b>Products</b></button>
      <br/><br/><br/>
      <button nz-button nzType="primary" style='width:60%'  nzShape="round" (click)="toUser(3)"><b>Categories</b></button>
      <br/><br/><br/>
      <button nz-button nzType="primary" style='width:60%'  nzShape="round" (click)="toUser(4)"><b>Reports</b></button>
      <br/><br/><br/>
      
      </div>
    
  </div>
  



  