 <!-- <div class='container row' style='text-align:center'>
     <nz-list nzGrid> 
    <div nz-row>

  

      <div style='padding:2px' nz-col nzSpan="4" *ngFor="let item of [1,2,3,4,5]">
        <nz-list-item>
            <button nz-button style='width:100%;height:100%'  nzSize='large'><b>01</b></button>
        </nz-list-item>
      </div>
    </div>
  </nz-list> 
  </div> -->


    <div class='container' nz-row style='text-align:center;overflow:auto;width:100%;height:100%'>
  
    <div nz-col style='text-align:center'>
        <button nz-button nzType="text" style='width:100%;height:100%'  nzSize='large'  (click)='minus()'>
            <b> <i nz-icon nzType="left" nzTheme="outline"></i> </b></button>
    </div>
    <div nz-col *ngFor="let item of dates" style='text-align:center'>

    
            <button nz-button style='width:100%;height:100%'  (click)='captureDate(item)'>
                {{item | date:'MMM'}} <br/>
                <b>{{item | date:'dd'}}</b> <br/> 
                {{item | date:'yyyy'}} <br/>
                {{ item | date :'EE'}} </button>
            </div>

            <div nz-col style='text-align:center'>
                <button nz-button nzType="text" style='width:100%;height:100%'   (click)='plus()' nzSize='large'><b> <i nz-icon nzType="right" nzTheme="outline"></i> </b></button>
            </div>
            </div>
       




