<div nz-row style='text-align:center;overflow:auto;width:100%;height:100%;'>

    <div nz-col nzSpan="1" style='text-align:center;padding:0px'>
        <div style='width:100%;height:100%;padding:0px' nzSize='large' (click)='minus()'>
            <b> <br /> <i nz-icon nzType="left" nzTheme="outline"></i> </b>
        </div>
    </div>
    <div nz-col nzSpan="3" *ngFor="let item of dates; index as i" style='text-align:center;padding:0px'>


        <div style='height:100%;padding:0px' (click)='captureDate(item,i)' [style.background]="color[i]">
            <span style="font-size:smaller"> {{item | date:'MMM'}} <br />
                <b>{{item | date:'dd'}}</b> <br />
                <!-- {{item | date:'yyyy'}} <br/> -->
                {{ item | date :'EE'}}</span>
        </div>
    </div>

    <div nz-col nzSpan="1" style='text-align:center'>
        <div style='width:100%;height:100%;padding:0px' (click)='plus()' nzSize='large'><br />
            <b> <i nz-icon nzType="right" nzTheme="outline"></i> </b>
        </div>
    </div>
</div>
<div nz-col nzSpan="24">&nbsp;</div>
<!-- <div nz-row>
    <div nz-col nzSpan="24">
        <nz-alert nzMessage="Your selected date: {{ selectedDate | date: 'yyyy-MM-dd' }}"></nz-alert>
    </div>


</div>
<div nz-col nzSpan="24">&nbsp;</div> -->
<div nz-row style='padding-bottom: 10px;'>
<div nz-col nzSpan="24" style='text-align: center'>

    <nz-alert nzMessage="Your selected date: {{ selectedDate | date: 'yyyy-MM-dd' }}"></nz-alert>

 


</div>
</div>

<div nz-row style='padding-bottom: 10px;'>
    <div nz-col nzSpan="24">

<button nz-button nz-button nzType="dashed"  nzSize = small nzDanger nzShape="round">
    <b style='font-size: smaller;'> Today's Amount : {{product.length>0?product[0].todayAmount:0}} | 
        Month Amount : {{product.length>0?product[0].monthAmount:0}} |
        Net Amount : {{product.length>0?product[0].netAmount:0}} </b>
</button>
</div>
</div>

<div nz-row style='padding-bottom: 10px;'>
    <div nz-col nzSpan="12" style='text-align: left'>

        <button nz-button nzType="primary" (click)="visible=true"><b>+ Add Proudct </b></button>&nbsp;&nbsp;
        <ng-container *ngIf="!loading">
            <!-- <button nz-button nzType="primary" (click)='download()' [nzLoading]='downloading'>
                                Download
                            </button> -->
        </ng-container>
    </div>

     
    <div nz-col nzSpan="12" style='text-align: right'>

        <!-- <button nz-button  nzType="primary" nzGhost>
            <b><i nz-icon nzType="message" nzTheme="outline">Messages &nbsp;</i>  </b>
        </button>
      -->


</div>
</div>


<div style='overflow:auto;width:100%;height:100%'>
    <nz-table #basicTable nzShowPagination=true nzSize='middle' nzBordered [nzData]="product" [nzLoading]="loading">
        <thead>
            <tr>

                <th> # </th>
                


                <th> Category </th>
                <th> Brand </th>
                <th>Quantity</th>
                <th>Repeat</th>
               
                <th>Day Schedule</th>
                <th>Amount</th>
                <th>Begin Date</th>
                <th>For Date</th>
                <!-- <th>Service Availed</th>
                <th>Out of Home</th> -->
                
              
               

            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let data of basicTable.data; index as i">

                <td *ngIf="!user.created"><i nz-icon style='color: blue' nzType="form" nzTheme="outline" (click)="edit(data)">{{ (i+1) }} &nbsp; </i> </td>
                <td *ngIf="user.created">{{ (i+1) }}</td>
                

                <td>{{ data.category }}</td>
                <td>{{ data.brand }}</td>
                <td>{{ data.quantity }}</td>
                <td>{{ data.repeatDays }}</td>
               
                
                <td>  <i nz-icon [style.color]="data.morning?'green':'red'" [nzType]="data.morning?'check-circle':'close-circle'" nzTheme="outline">M&nbsp;</i>&nbsp;&nbsp;
                    <i nz-icon [style.color]="data.afternoon?'green':'red'" [nzType]="data.afternoon?'check-circle':'close-circle'" nzTheme="outline">A&nbsp;</i>&nbsp;&nbsp;
                    <i nz-icon [style.color]="data.evening?'green':'red'" [nzType]="data.evening?'check-circle':'close-circle'" nzTheme="outline">E&nbsp;</i>&nbsp;&nbsp; </td>
                    <td>{{ data.amount }}</td>
                    <td>{{ data.fromDate | date:'dd/MM/yyyy' }}</td>
                <td>{{ selectedDate | date:'dd/MM/yyyy' }}</td>
                <!-- <td> <nz-switch [ngModel]="data.serviceAvailed" [nzLoading]='statusChanging'
                    [nzCheckedChildren]="checkedTemplate" (ngModelChange)="statusChange(data,0)" 
                    [nzUnCheckedChildren]="unCheckedTemplate">
                </nz-switch>
                <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
                <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template></td>
                <td> <nz-switch  [ngModel]="data.outOfHome" [nzLoading]='statusChanging'
                    [nzCheckedChildren]="checkedTemplate" (ngModelChange)="statusChange(data,1)" 
                    [nzUnCheckedChildren]="unCheckedTemplate">
                </nz-switch>
               </td> -->

            



            </tr>


        </tbody>
    </nz-table>
</div>






<nz-modal [nzVisible]="visible" [nzContent]="content" [nzFooter]="null" (nzOnCancel)="closeVisible()">
    <ng-template #content>

        <h3> {{type}} Product </h3>
        <div nz-row> &nbsp; </div>

        <div nz-row class="container">
            <div nz-col nzSpan="6" style='text-align: left'>Category</div>
            <div nz-col nzSpan="14" style='text-align: left'>
                <nz-select nzShowSearch nzPlaceHolder="Select Category" style='width: 100% ;' [(ngModel)]='category'>

                    <nz-option *ngFor="let cat of categoryAll" [nzValue]="cat.id" [nzLabel]="cat.name"></nz-option>

                </nz-select>
            </div>

            <div nz-col nzSpan="4" style='text-align: left'>
            &nbsp;<button nz-button (click)='toProducts()'>+</button>
            </div>
        </div>

        <div nz-row> &nbsp; </div>

        <div nz-row class="container">
            <div nz-col nzSpan="6" style='text-align: left'>Brand</div>
            <div nz-col nzSpan="14" style='text-align: left'>
                <nz-select nzShowSearch nzPlaceHolder="Select Brand" style='width: 100% ;' [(ngModel)]='brand'>

                    <nz-option *ngFor="let cat of brandAll" [nzValue]="cat.id" [nzLabel]="cat.name"></nz-option>

                </nz-select>
            </div>
            <div nz-col nzSpan="4" style='text-align: left'>
                &nbsp;<button nz-button (click)='toProducts()'>+</button>
                </div>
        </div>

        <div nz-row> &nbsp; </div>

        <div nz-row class="container">
            <div nz-col nzSpan="6" style='text-align: left'>Quantity</div>
            <div nz-col nzSpan="14" style='text-align: left'>
                <nz-select nzShowSearch nzPlaceHolder="Select Quantity" style='width: 100% ;' [(ngModel)]='quantity'>

                    <nz-option *ngFor="let cat of quantityAll" [nzValue]="cat.id" [nzLabel]="cat.name"></nz-option>

                </nz-select>
            </div>
            <div nz-col nzSpan="4" style='text-align: left'>
                &nbsp;<button nz-button (click)='toProducts()'>+</button>
                </div>
        </div>

        <div nz-row> &nbsp; </div>

        <div nz-row class="container">
            <div nz-col nzSpan="6" style='text-align: left'>Repeat</div>
            <div nz-col nzSpan="18" style='text-align: left'>
                <nz-select nzShowSearch nzPlaceHolder="Select Repeat Days" style='width: 100% ;'
                    [(ngModel)]='repeatDays'>

                    <nz-option *ngFor="let cat of repeat" [nzValue]="cat.id" [nzLabel]="cat.name"></nz-option>

                </nz-select>
            </div>
        </div>



        <div nz-row> &nbsp; </div>

        <div nz-row class="container">
            <div nz-col nzSpan="6" style='text-align: left'>Amount</div>
            <div nz-col nzSpan="18" style='text-align: left'>
                <input type="text" nz-input placeholder="Enter Amount" style='width:100%' [(ngModel)]='amount' />
            </div>
        </div>

        <div nz-row> &nbsp; </div>

        <div nz-row class="container">
            <div nz-col nzSpan="6" style='text-align: left'>Day Schedule</div>
            <div nz-col nzSpan="18" style='text-align: left'>
                <label nz-checkbox [(ngModel)]="morning">M</label>
                <label nz-checkbox [(ngModel)]="afternoon">A</label>
                <label nz-checkbox [(ngModel)]="evening">E</label>
            </div>
        </div>

        <div nz-row> &nbsp; </div>

        <div nz-row class="container">
            <div nz-col nzSpan="6" style='text-align: left'>From Date</div>
            <div nz-col nzSpan="18" style='text-align: left'>

                {{ selectedDate | date:'dd/MM/yyyy' }}

            </div>
        </div>


        <div nz-row> &nbsp; </div>
        <div nz-row class="container">
            <div nz-col nzSpan="24" style='text-align: right'>

                <button nz-button nzType="primary" (click)="addProduct()"><b>{{type}}</b></button>
            </div>
        </div>

    </ng-template>
</nz-modal>